/*Primary-Color {
    --primary-color:blue;
}

p {
    background-color : var(--primary-color);
}*/

html {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --Danger-color: #dc3545;
    --success-color: #28a745;
    --max-width: 1100px;
}



*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

body {
    font-family:'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-primary {
    color: var(--primary-color);
}

a {
    text-decoration:none;
    color: var(--primary-color);
}

ul {
    list-style:none;
}

img {
    width: 100%;
}

/*Navbar*/


.navbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0.7rem 2rem;
    position:fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
}

.navbar ul {
    display: flex;

}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: var(--primary-color);
} 

/*backgrounds*/

.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.bg-light {
    background-color: var(--light-color);
    color: #333;
    border: #ccc 1px solid;
}
.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}
.bg-danger {
    background-color: var(--Danger-color);
    color: #fff;
}
.bg-white {
    background-color: #fff;
    color: #333;
}

/*buttons*/

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    tansition: all 0.2s ease-in;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}
.btn-light {
    background: var(--light-color);
    color: #333;
}
.btn-dark {
    background: var(--dark-color);
    color: #fff;
} 
.btn-success {
    background: var(--success-color);
    color: #fff;
}
.btn-danger {
    background: var(--Danger-color);
    color: #fff;
}


/*LANDING*/ 

.landing {
    position:relative;
    background: url('img/proconnectorbg.jpg') no-repeat center center/cover;
    height: 100vh;

}

.landing-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: auto;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

/*FORMS*/

.form-group {
    margin: 1.2rem 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.my-1 {
    margin: 1rem 0;
}